

@{
    ViewBag.Title = "Zero Hunger";
}
<h2>Welcome to the Zero Hunger System</h2>
<p>This is the landing page for the Zero Hunger system.</p>

<ul>
    <li>@Html.ActionLink("Collections", "IndexC", "Zero_Hunger")</li>
    <li>@Html.ActionLink("Employees", "IndexE", "Zero_Hunger")</li>
    <li>@Html.ActionLink("Distributions", "IndexD", "Zero_Hunger")</li>
    <li>@Html.ActionLink("Restaurants", "IndexR", "Zero_Hunger")</li>
</ul>
